<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">

	<resultMap type = 'Elemento' id = 'ElementosResult'>
		<id property = 'id' column = 'id'/>
		<result property = 'tipo' column = 'tipo'/>
		<result property="nombre" column="nombre"/>
		<result property="activo" column="activo"/>
		<association property="equipoAsignado" javaType="Equipo" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquiposResult2"></association>
	</resultMap>
	
	<insert parameterType = "map" id = "registrarElemento">
		INSERT INTO elementos (id, tipo, registradoPor,idEquipo,nombre,activo)
		VALUES (#{el.id},#{el.tipo},#{correo},#{equipo},#{el.nombre},#{el.activo});
	</insert>

	<select id = "consultarElementos" resultMap="ElementosResult">
		SELECT * FROM elementos;
	</select>

	<select id="consultarElementosDisponibles" resultMap="ElementosResult">
		SELECT * FROM elementos WHERE idequipo IS NULL AND activo = true;
	</select>
	
</mapper>