<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">

	<resultMap type = 'Elemento' id = 'ElementosResult2'>
		<id property = 'id' column = 'idElemento'/>
		<result property = 'tipo' column = 'tipoElemento'/>
		<result property="nombre" column="nombreElemento"/>
		<result property="activo" column="activoElemento"/>
	</resultMap>


	<resultMap type = 'Elemento' id = 'ElementosResult'>
		<id property = 'id' column = 'id'/>
		<result property = 'tipo' column = 'tipo'/>
		<result property="nombre" column="nombre"/>
		<result property="activo" column="activo"/>
	</resultMap>
	
	<insert parameterType = "map" id = "registrarElemento">
		INSERT INTO elementos (id, tipo, registradoPor,idEquipo,nombre,activo)
		VALUES (#{el.id},#{el.tipo},#{correo},#{equipo},#{el.nombre},#{el.activo});
	</insert>

	<select id = "consultarElementos" resultMap="ElementosResult">
		SELECT * FROM elementos;
	</select>

	<select id="consultarElementosDisponibles" resultMap="ElementosResult">
		SELECT * FROM elementos WHERE idequipo IS NULL AND activo = true;
	</select>

	<select parameterType="map" id="consultarElementosDisponibles2" resultMap="ElementosResult">
		SELECT * FROM elementos WHERE idequipo IS NULL AND activo = true AND tipo = #{tipo};
	</select>
	
	<select id = "consultarElemento" resultMap = "ElementosResult">
		SELECT *
		FROM elementos
		WHERE elementos.id = #{id};
	</select>
	
	<update parameterType = 'map' id = 'actualizarIdEquipo'>
		UPDATE Elementos
		SET Elementos.idEquipo = #{idEq}
		WHERE Elementos.id = #{idEl};
	</update>
	
	<update parameterType = 'map' id = 'desasociarElemento'>
		UPDATE Elementos
		SET Elementos.activo = false
		WHERE Elementos.id = #{id} AND Elementos.idEquipo IS NULL;
	</update>
	
</mapper>