<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">

	<resultMap type = 'Equipo' id = 'EquiposResult'>
		<id property = 'id' column = 'id'/>
		<result property="activo" column="activo"/>
		<association property="laboratorio" javaType="Laboratorio" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper.LaboratoriosResult2"/>
	</resultMap>


	
	<select id="consultarEquipos" resultMap="EquiposResult">
		SELECT equipos.id, equipos.activo, equipos.laboratorio, laboratorios.nombre as laboratorioNombre,
		laboratorios.activo as laboratorioActivo
		FROM Equipos,laboratorios
		WHERE equipos.laboratorio = laboratorios.id;
	</select>
	
	<select id ="consultarEquipo" resultMap="EquiposResult">
		SELECT equipos.id, equipos.activo, equipos.laboratorio
		FROM equipos
		WHERE equipos.id = #{id};
	</select>
	
	<insert parameterType = "map" id = "registrarEquipo">
		INSERT INTO equipos (id, activo, laboratorio)
		VALUES (nextval('id_equipo'),#{equipo.activo},#{equipo.laboratorio.id});
	</insert>

	<select parameterType="map" id="consultarEquiposDisponiblesParaElemento" resultMap="EquiposResult">
		select *
		from equipos
		where equipos.id not in (select elementos.idequipo from elementos where elementos.tipo = #{tipo} and elementos.idequipo is not null group by elementos.idequipo);
	</select>

	<select id="consultarEquipoDeElemento" parameterType="map" resultMap="EquiposResult">
		SELECT equipos.id, equipos.activo, equipos.laboratorio, laboratorios.nombre as laboratorioNombre,
		laboratorios.activo as laboratorioActivo
		FROM Equipos, laboratorios
		WHERE (equipos.id = (select elementos.idEquipo from elementos where elementos.id = #{elemento.id})) AND
		equipos.laboratorio = laboratorios.id;
	</select>
	
</mapper>