<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">

	<resultMap type = 'Equipo' id = 'EquiposResult'>
		<id property = 'id' column = 'id'/>
		<result property="activo" column="activo"/>
		<association property="laboratorio" javaType="Laboratorio" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper.LaboratoriosResult2"/>
	</resultMap>
	<resultMap type = 'Equipo' id = 'EquiposResult2'>
		<id property = 'id' column = 'idEquipo'/>
		<result property="activo" column="activo"/>
		<association property="laboratorio" javaType="Laboratorio" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper.LaboratoriosResult2"/>
	</resultMap>

	
	<select id="consultarEquipos" resultMap="EquiposResult">
		SELECT * FROM Equipos;
	</select>

	<select parameterType="map" id="consultarEquiposDisponibles" resultMap="EquiposResult">
		select equipos.id
		from equipos
		where equipos.id not in (select elementos.idequipo from elementos where elementos.tipo = #{tipo} and elementos.idequipo is not null group by elementos.idequipo);
	</select>
	
</mapper>