<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">

	<resultMap type = 'Equipo' id = 'EquiposResult'>
		<id property = 'id' column = 'id'/>
	</resultMap>
	<resultMap type = 'Equipo' id = 'EquiposResult2'>
		<id property = 'id' column = 'idEquipo'/>
	</resultMap>

	
	<select id="consultarEquipos" resultMap="EquiposResult">
		SELECT
				equipos.id
		FROM
				equipos;
	</select>
	
</mapper>