<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper">

    <resultMap type = 'Laboratorio' id = 'LaboratoriosResult2'>
        <id property = 'id' column = 'laboratorio'/>
        <result property="nombre" column="laboratorioNombre"/>
        <result property="activo" column="laboratorioActivo"/>
        <collection property = 'equipos' ofType = 'Equipo' resultMap = 'edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquiposResult'></collection>
    </resultMap>

    <resultMap id="laboratorioResult" type="Laboratorio">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="activo" column="activo"/>
    </resultMap>

    <select id="consultarLaboratoriosDisponibles" resultMap="laboratorioResult">
        SELECT * FROM laboratorios WHERE laboratorios.activo = true;
    </select>

    <select id="consultarLaboratorios" resultMap="laboratorioResult">
        SELECT * FROM laboratorios;
    </select>

    <select id="consultarLaboratorio" parameterType="map" resultMap="laboratorioResult">
        SELECT *
        FROM laboratorios
        WHERE laboratorios.id = #{id};
    </select>

    <select id="consultarSiguienteIdLaboratorio" resultType="Integer">
        SELECT nextval('id_lab');
    </select>

    <select id="consultarLaboratorio2" parameterType="map" resultMap="laboratorioResult">
        SELECT laboratorios.id, laboratorios.nombre, laboratorios.activo
        FROM laboratorios, equipos
        WHERE laboratorios.id = equipos.laboratorio AND equipos.id = #{equipo.id}
    </select>

	<insert id = 'registrarLaboratorio' parameterType = 'map'>
		INSERT INTO laboratorios (id, nombre, activo)
		VALUES (#{lab.id},#{lab.nombre},#{lab.activo});
	</insert>
	
	<update id = 'eliminarLaboratorio' parameterType = 'map'>
		UPDATE Laboratorios
		SET activo = false
		WHERE Laboratorios.id = #{lab.id};
	</update>

    <update id="desasociarLaboratorioDeEquipos" parameterType="map">
        UPDATE Equipos
        SET laboratorio = null
        WHERE laboratorio = #{lab.id};
    </update>

    <select parameterType="map" id="consultarEquiposEliminadosLaboratorio" resultType="Integer">
        SELECT COUNT(equipos.id) FROM equipos WHERE equipos.laboratorio = #{lab.id} AND equipos.activo = false;
    </select>

    <select parameterType="map" id="consultarNumeroEquipos" resultType="Integer">
        SELECT COUNT(equipos.id) FROM laboratorios, equipos WHERE laboratorios.id = equipos.laboratorio AND laboratorios.id = #{lab.id};
    </select>

    <select id="consultarFechaRegistro" parameterType="map" resultType="Date">
        SELECT fechaRegistro FROM laboratorios WHERE laboratorios.id = #{lab.id};
    </select>

</mapper>