<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper">

    <resultMap type = 'Laboratorio' id = 'LaboratoriosResult2'>
        <id property = 'id' column = 'laboratorio'/>
        <result property="nombre" column="laboratorioNombre"/>
        <result property="activo" column="laboratorioActivo"/>
        <collection property = 'equipos' ofType = 'Equipo' resultMap = 'edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquiposResult'></collection>
    </resultMap>

    <resultMap id="laboratorioResult" type="Laboratorio">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="activo" column="activo"/>
    </resultMap>

    <select id="consultarLaboratorio" parameterType="map" resultMap="laboratorioResult">
        SELECT *
        FROM laboratorios
    </select>

    <select id="consultarLaboratorio2" parameterType="map" resultMap="laboratorioResult">
        SELECT laboratorios.id, laboratorios.nombre, laboratorios.activo
        FROM laboratorios, equipos
        WHERE laboratorios.id = equipos.laboratorio AND equipos.id = #{equipo.id}
    </select>


</mapper>