<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NovedadMapper">

	<resultMap type = 'Novedad' id = 'NovedadesResult'>
		<id property = 'id' column = 'id'/>
		<result property="titulo" column="titulo"/>
		<result property="detalle" column="detalle"/>
		<result property="usuario" column="idUsuario"/>
		<result property="tipo" column="clase"/>
		<result property="fecha" column="fechaRegistro"/>
		<association property = 'elemento' column = 'idElemento' resultMap = 'edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper.ElementosResult2'></association>
		<association property = 'equipo' column = 'idEquipo' resultMap = 'edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquiposNovedadResult'></association>
	</resultMap>
	
	<select id= 'consultarNovedades' parameterType = 'map' resultMap = 'NovedadesResult'>
		SELECT novedades.id,
			novedades.titulo, 
			novedades.detalle, 
			novedades.idUsuario, 
			novedades.clase,
			novedades.fechaRegistro,
	
	
			novedades.idelemento as idElemento,
			elementos.tipo as tipoElemento,
			elementos.nombre as nombreElemento,
			elementos.activo as activoElemento,
			elementos.fechaRegistro as ff,
			
			novedades.idequipo as idEquipo,
			equipos.activo as activoEquipo,
			equipos.fechaRegistro as fff
		FROM Novedades, elementos, equipos
		WHERE (novedades.idelemento = elementos.id and
				novedades.idequipo is null)
				or
				(novedades.idequipo = equipos.id and
				novedades.idelemento is null)
				
		ORDER BY fechaRegistro;
	</select>
	<insert parameterType = "map" id="registrarNovedad">
		INSERT INTO Novedades (id,titulo,detalle,clase,idUsuario, idEquipo,idElemento) VALUES (nextval('id_novedad'),#{titulo},#{detalle},#{clase},#{usuario},#{idEq},#{idElem});
	</insert>
	
	<select id="consultarNovedadesElemento" parameterType = 'map' resultMap = 'NovedadesResult'>
		SELECT novedades.id,
			novedades.titulo, 
			novedades.detalle, 
			novedades.idUsuario, 
			novedades.clase,
			novedades.fechaRegistro,
	
	
			novedades.idelemento as idElemento,
			elementos.tipo as tipoElemento,
			elementos.nombre as nombreElemento,
			elementos.activo as activoElemento,
			elementos.fechaRegistro as ff,
			
			novedades.idequipo as idEquipo,
			equipos.activo as activoEquipo,
			equipos.fechaRegistro as fff
		FROM Novedades, elementos, equipos
		WHERE ((novedades.idelemento = elementos.id and
				novedades.idequipo is null)
				or
				(novedades.idequipo = equipos.id and
				novedades.idelemento is null)) AND novedades.idElemento = #{elemento.id}
				
		ORDER BY fechaRegistro;
	</select>
	
	<select id="consultarNovedadesEquipo" parameterType = 'map' resultMap = 'NovedadesResult'>
		SELECT novedades.id,
			novedades.titulo, 
			novedades.detalle, 
			novedades.idUsuario, 
			novedades.clase,
			novedades.fechaRegistro,
	
	
			novedades.idelemento as idElemento,
			elementos.tipo as tipoElemento,
			elementos.nombre as nombreElemento,
			elementos.activo as activoElemento,
			elementos.fechaRegistro as ff,
			
			novedades.idequipo as idEquipo,
			equipos.activo as activoEquipo,
			equipos.fechaRegistro as fff
		FROM Novedades, elementos, equipos
		WHERE ((novedades.idelemento = elementos.id and
				novedades.idequipo is null)
				or
				(novedades.idequipo = equipos.id and
				novedades.idelemento is null)) AND Novedades.idEquipo = #{equipo.id}
				
		ORDER BY novedades.id DESC;
	</select>
	
</mapper>