*{
	font-family: Aharoni;
	font-size: 20px;
}
body{
	padding-top: 25px;
}

.titulo{
	font-size: 35px;
	font-family: Algerian;
}
.tituloNombre{
    font-size:25px;
}

#logo{
    padding: 0px;
    text-align: left;
    object-fit: cover;
    height: 100%;
}

.header{
    max-height: 150px;
}

